*
!/package.json
!/yarn.lock
!/matrix-meetings-bot/package.json
!/matrix-meetings-bot/conf
!/matrix-meetings-bot/lib
!/resolutions/matrix-sdk-crypto-nodejs
!/packages/calendar/package.json
!/packages/calendar/lib
